<template>
  <q-page class="flex flex-center bg-black">
    <img alt="Quasar logo" src="~assets/logo.svg">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
