<template>
  <div class="landing-container q-pa-xl text-white">
    <div class="logo q-pa-xl" @click="handleClick('logo')">
      <img class="q-my-xl" alt="Fazenda do Software" src="~assets/logo.svg" :width="logoWidth">
    </div>
    <div class="email q-mb-xl text-bold" :class="windowWidth > 570 ? 'q-display-1' : windowWidth > 320 ? 'q-title' : 'q-subheading'">
        info@fazendadosoftware.com
      </div>
    <div class="contacts" :class="windowWidth > 400 ? 'q-sub-heading' : 'q-caption'">
      <div class="address q-mb-lg">
        <div>Q SIG Quadra 3 Bloco B</div>
        <div>Lote 18 Entrada 22 Sala 201 Parte II</div>
        <div>70610-432 Brasília</div>
      </div>
      <div class="cnpj" @click="handleClick('cnpj')">
        <span class="text-bold">CNPJ</span> 30.786.238/0001-55
      </div>
    </div>
  </div>
</template>

<script>
import { openURL } from 'quasar'
export default {
  data () {
    return {
      windowWidth: 0,
      clickTriggered: false
    }
  },
  computed: {
    logoWidth () {
      const maxWidth = 700
      const minWidth = 200
      const width = Math.round(this.windowWidth * 0.8)
      return width < minWidth
        ? minWidth
        : width > maxWidth
          ? maxWidth
          : width
    }
  },
  methods: {
    handleClick (target) {
      if (target === 'logo') {
        this.clickTriggered = true
        setTimeout(() => { this.clickTriggered = false }, 2000)
      } else if (target === 'cnpj' && this.clickTriggered) {
        openURL('https://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/Cnpjreva_Vstatus.asp?origem=comprovante&cnpj=30786238000155')
      }
    }
  },
  mounted () {
    this.windowWidth = window.innerWidth
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.windowWidth = window.innerWidth
      })
    })
  }
}
</script>
<style scoped>
  @import url("~typeface-montserrat");
</style>

<style lang="stylus" scoped>
  @-webkit-keyframes Background
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%

  @-moz-keyframes Background
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%

  @keyframes Background
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%

  .landing-container
    background linear-gradient(253deg, #000000, #1B5E20)
    -webkit-animation Background 25s ease infinite
    -moz-animation Background 25s ease infinite
    animation Background 25s ease infinite
    display flex
    flex-flow column
    align-items center
    justify-content space-around
    font-family Montserrat
    height 100vh

  .email
    text-decoration underline
  .contacts
    display flex
    flex-flow column
    align-items center
    justify-content center
  .address
    display flex
    flex-flow column
    align-items center
</style>
