<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="black">
        <img alt="Quasar logo" src="~assets/logo.svg" height="50" class="q-my-lg">
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'LayoutDefault',
  methods: {
    openURL
  }
}
</script>

<style>
</style>
